*.iml
.gradle
*.properties

.DS_Store
/captures
.externalNativeBuild

.classpath
.project
.settings
eclipsebin

bin
gen
build
out
.bin

google-services.json

target
pom.xml.*
release.properties


.idea
classes


*.jar

captures/

